body{
    background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
   ),  url("./images/pageFondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

h1, h2, h3{
    text-align: center;
}

/* Register */

.form-register{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.controls {
    background: salmon;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 2px solid rebeccapurple;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input{
    text-align: center;
}

.form-register p {
    height: 40px;
    text-align: center;
}

.form-register a {
   color: #fff;
   text-decoration: none;
   background: none;
   padding: 3px 10px;
}

.form-register .botons {
    background: salmon;
    padding: 10px 30px;
    border-radius: 5px;
    margin-left: 3px;
}

.botons:hover{
    background: rgb(231, 161, 154);
}

.fuente {
    font-weight: bold;
}

.warning{ 
    text-align: center;
    margin: auto;
    color: rgb(240, 32, 32);
    padding-top: 10px;
}



/* Navbar */
a{
    background: salmon;
    padding: 10px 30px;
    border-radius: 15px;
    margin-left: 3px;
}

a:hover{
    background: rgb(231, 161, 154);
}

.menuNav {
    display: flex;
    justify-content: center;
    background: rebeccapurple;
    padding: 20px;
    border-radius: 15px;
}

a {
    text-decoration: none;
    color: #fff;
}


/* Footer */
.footer {
    display: flex;
    justify-content: center;
    background: rgb(38, 6, 70);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
}

/* Tabla */

#titleContact {
    display: flex;
    justify-content: center;
}

table{
    display: flex;
    justify-content: center;
    font-size: large;
    
}
th{
    border: solid 1px;
    background: rgb(92, 30, 92);
    margin-left: px;
    font-weight: bold;
}
td{
    border: solid 1px;
    background: rgb(92, 30, 92);
}

/* home */
.layauts{
    display: flex;
}

.align-left{
    width: 30%;
    border-right: solid 2px salmon;
    padding: 8px;
    margin-top: 10vh;
}

.align-right{
    width: 65%;
    margin-top: 10vh;
}

.imgHome{
max-width: 100%;
padding: 8px;
margin-left: 5px;
}

.mt{
    margin-bottom: 10vh;
}

.change {
    flex-direction: row-reverse;
}